# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log

# dotenv environment variables
.env
.env.*

# Build output
build/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Bun
bun.lockb

# Test coverage
coverage/

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.*

# Backend/Server
server/node_modules/
server/dist/
server/.env
server/.env.*
